<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookstore</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CharsetSetFilter</display-name>
    <filter-name>CharsetSetFilter</filter-name>
    <filter-class>com.mtw.common.CharsetSetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharsetSetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.mtw.common.InitServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControoller</display-name>
    <servlet-name>LoginControoller</servlet-name>
    <servlet-class>com.mtw.users.LoginControoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControoller</servlet-name>
    <url-pattern>/LoginControoller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.mtw.common.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardChangePasswordController</display-name>
    <servlet-name>ForwardChangePasswordController</servlet-name>
    <servlet-class>com.mtw.users.ForwardChangePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardChangePasswordController</servlet-name>
    <url-pattern>/user/forwardchangepwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePsswordController</display-name>
    <servlet-name>ChangePsswordController</servlet-name>
    <servlet-class>com.mtw.users.ChangePsswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePsswordController</servlet-name>
    <url-pattern>/user/changepwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.mtw.users.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordController</display-name>
    <servlet-name>ChangePasswordController</servlet-name>
    <servlet-class>com.mtw.users.ChangePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordController</servlet-name>
    <url-pattern>/user/changepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.mtw.users.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryBooksController</display-name>
    <servlet-name>QueryBooksController</servlet-name>
    <servlet-class>com.mtw.book.QueryBooksController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBooksController</servlet-name>
    <url-pattern>/book/querybooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardAddBookController</display-name>
    <servlet-name>ForwardAddBookController</servlet-name>
    <servlet-class>com.mtw.book.ForwardAddBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardAddBookController</servlet-name>
    <url-pattern>/book/forwardaddbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckISBNJSONServlet</display-name>
    <servlet-name>CheckISBNJSONServlet</servlet-name>
    <servlet-class>com.mtw.book.CheckISBNJSONServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckISBNJSONServlet</servlet-name>
    <url-pattern>/book/checkisbnjson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookController</display-name>
    <servlet-name>AddBookController</servlet-name>
    <servlet-class>com.mtw.book.AddBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookController</servlet-name>
    <url-pattern>/book/addbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreModBookController</display-name>
    <servlet-name>PreModBookController</servlet-name>
    <servlet-class>com.mtw.book.PreModBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreModBookController</servlet-name>
    <url-pattern>/book/premodbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModBookController</display-name>
    <servlet-name>ModBookController</servlet-name>
    <servlet-class>com.mtw.book.ModBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModBookController</servlet-name>
    <url-pattern>/book/modbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelBookController</display-name>
    <servlet-name>DelBookController</servlet-name>
    <servlet-class>com.mtw.book.DelBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelBookController</servlet-name>
    <url-pattern>/book/delbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelBooksController</display-name>
    <servlet-name>DelBooksController</servlet-name>
    <servlet-class>com.mtw.book.DelBooksController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelBooksController</servlet-name>
    <url-pattern>/book/delbooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryOneBookController</display-name>
    <servlet-name>QueryOneBookController</servlet-name>
    <servlet-class>com.mtw.book.QueryOneBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOneBookController</servlet-name>
    <url-pattern>/book/queryonebook</url-pattern>
  </servlet-mapping>
</web-app>